
script(type='text/javascript').
  
  // Redireciona a pagina Homes
  setTimeout(function(){
    window.location = '/home';
  }, 1500);
  
h3 Sucesso na autenticação do Login no Facebook
hr
h4 Redirecionando ...
