
<script type='text/javascript'>

  // Redireciona a pagina Homes
  setTimeout(function(){
    window.location = 'home';
  }, 1500);

</script>

<h3>Sucesso na autenticação do Login no Facebook</h3>
<hr>
<h4>Redirecionando ...</h4>
