<html>

  <head>
    <script type='text/javascript'>

    </script>
  </head>

  <body>

    <ul id='list_products'>

      <% for(var i=0; i<products.length; i++) {%>
         <li><%= products[i].product %> (<%= products[i].price %> estrela)</li>
      <% } %>

    </ul>

  </body>

</html>
