<html>

  <head>

    <% include ./partials/layout_menu %>

  </head>

  <body>

    <div class='container'>
      <h3>Lista de Tarefas</h3>
      <hr />
      <table id='table_tasks' class='table table-striped table-hover'>
        <% for(var i=0; i<tasks.length; i++) {%>
           <tr><td><%= tasks[i].task %></td></tr>
        <% } %>
      </table>

    </div>

  </body>

</html>
